/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
    padding-top: 3.5rem;
  }
 div.col {
    font-size: 30px;
    text-align: center;
    padding: 90px;
  }
  .img-fluid{ max-width: 100%;
    height: auto;
  }