/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
    padding-top: 3.5rem;
  }
 div#testo {
    font-size: 30px;
    text-align: center;
    padding: 90px;
    width: auto;
  }
  div#foto {
    font-size: 30px;
    text-align: center;
    padding: 90px;
    width: auto;
  }
  .img-fluid{ 
    max-width: 100%;
    height: auto;
  }
  .row {
    margin-left: 0px;
    margin-right: 0px;
    max-height: 900px;
  }

  .column {
    float: left;
    width: 25%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }